<h1>Productos:</h1>
<% @products.each do |product| %>
    <%= link_to product_path(product.id), class: 'product' do %>
        <span><%=product.title%></span>
        <strong><li><%=product.price%></li></strong>
    <%end%>
<%end%>